/* -- Theme Resets --*/
.nfo {
	font-family: terminal;
	font-size: 10px;
}
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}
A, IMG {
	outline:none;
	border: 0px none;
}
P {
	margin: 0px;
	padding: 0px;
}
input, select {
	background-color: #EEE;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555;
	border-right-color: #AAA;
	border-bottom-color: #AAA;
	border-left-color: #555;
	font-size: 90%;
	font-family: Arial, Helvetica, sans-serif;
}
textarea {
	background-color: #DDD;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555;
	border-right-color: #AAA;
	border-bottom-color: #AAA;
	border-left-color: #555;
	font-size: 130%;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px;
}
body, div, table, th, td, h1, h2, A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
}
body {
	background-color: #FFFFFF;
}
.wrapper {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
	position: relative;
}
.header {
	background-image: url(images/gray/head-bg.jpg);
	display: block;
	margin: 0px;
	padding: 0px;
	height: 115px;
	width: 100%;
	position: relative;
}
.header-r {
	background-image: url(images/gray/logo-bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0px;
	padding: 0px;
	height: 115px;
	width: 100%;
}
.navbar {
	background-image: url(images/nav-bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 100%;
}
.navigation {
	display:table;
	padding:0px;
	white-space:nowrap;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.navigation ul {
	list-style:none;
	margin:0px;
	padding:0px;
	display:table-row;
	white-space:nowrap;
}
.navigation ul li {
	display:table-cell;
}
.navigation ul li:last-child a {
	background-image: none;
}
.navigation ul a {
	display:block;
	text-decoration:none;
	color: #888;
	padding-right: 10px;
	padding-left: 10px;
	height: 25px;
	line-height: 24px;
	background-image: url(images/nav-split.jpg);
	background-repeat: no-repeat;
	background-position: right center;
}
.navigation ul a:hover {
	color:#000
}
.content {
	background-image: url(images/d-shadow.jpg);
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	margin: 0px;
	padding: 0px;
}
#logo {
	display: block;
	margin: 0px;
	padding: 0px;
	height: 80px;
	width: 240px;
	position: relative;
	left: 160px;
	top: 20px;
	z-index: 3;
}
.color-picker {
	display: block;
	margin: 0px;
	padding: 0px;
	clear: right;
	float: right;
	position: absolute;
	top: 10px;
	z-index: 2;
	right: 30px;
}
.color-picker select {
	filter: Alpha(Opacity=50);
	opacity:.50;
	-moz-opacity:.50;
	font-size: 90%;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #333333;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #333333;
	background-color: #aaa;
}
.color-picker select option {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	color: #FFFFFF;
}
.aqua {
	background-color: #1c859e;
}
.black {
	background-color: #303030;
}
.blue {
	background-color: #273b93;
}
.gray {
	background-color: #6d6d6d;
}
.green {
	background-color: #538820;
}
.pink {
	background-color: #a437a4;
}
.purple {
	background-color: #63289f;
}
.red {
	background-color: #a22929;
}
.yellow {
	background-color: #abab23;
}
#infobar {
	background-image: url(images/gray/info-bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	position: absolute;
	right: 20px;
	bottom: 0px;
	margin: 0px;
	padding: 0px;
	height: 24px;
	z-index: 2;
}
.info-l {
	background-image: url(images/gray/info-l.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	display: block;
	margin: 0px;
	height: 24px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 7px;
}
.inf-r {
	background-image: url(images/gray/info-r.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	margin: 0px;
	height: 24px;
	padding-top: 0px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.infobar {
	font-size: 90%;
	line-height: 24px;
	color: #FFFFFF;
}
.credits {
	text-align: center;
	display: block;
	padding: 10px;
	width: 100%;
}
.myBlock {
	display: block;
	margin: 0px;
	width: 100%;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
	padding-left: 0px;
}
.myBlock-tr, .myBlock-mr, .myBlock-br {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.myBlock-tr {
	background-image: url(images/gray/b-tm.jpg);
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	height: 26px;
}
.myBlock-trl {
	background-image: url(images/gray/b-tl.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	display: block;
	margin: 0px;
	height: 26px;
	padding-left: 35px;
}
.myBlock-trr {
	background-image: url(images/gray/b-tr.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: block;
	margin: 0px;
	height: 26px;
	padding-right: 6px;
	padding-left: 4px;
}
.myBlock-caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 110%;
	line-height: 26px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 100%;
	white-space: nowrap;
}
.myBlock-mrl {
	background-image: url(images/b-ml.jpg);
	background-repeat: repeat-y;
	background-position: left;
	padding-left: 5px;
}
.myBlock-mrr {
	background-image: url(images/b-mr.jpg);
	background-repeat: repeat-y;
	background-position: right;
	padding-right: 5px;
	padding-top: 3px;
}
.myBlock-content {
}
.myBlock-br {
	background-image: url(images/b-bm.jpg);
	background-repeat: repeat-x;
	background-position: center top;
	display: block;
	height: 7px;
}
.myBlock-brl {
	background-image: url(images/b-bl.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: left;
	float: left;
	height: 7px;
	width: 7px;
}
.myBlock-brr {
	background-image: url(images/b-br.jpg);
	background-repeat: no-repeat;
	background-position: right top;
	display: block;
	margin: 0px;
	padding: 0px;
	clear: right;
	float: right;
	height: 7px;
	width: 7px;
}
/* Link colors */
A:link, A:visited, A:active {
	text-decoration: none;
	color: #222;
}
A:hover {
	text-decoration: underline;
	color: #000000;
}
.bMenu {
	display: block;
	margin: 0px;
	padding: 0px;
	width: 100%;
}
.bMenu ul {
	display: block;
	margin: 0px;
	padding: 0px;
	list-style-position: inside;
	list-style-type: circle;
}
.bMenu ul li {
	width: auto;
	color: #666666;
	text-decoration: none;
}
/* DEFINE THE EXPAND CROSS LOCATION IN TORRENTTABLE */
.showthecross {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 2px;
	float: left;
}
/* TORRENTTABLE() */
.ttable_headouter {
	border-collapse: collapse;
}
.ttable_headinner {
	border-collapse: collapse;
	border:1px solid #666;
}
.ttable_head {
	font-family: Verdana;
	color: #FFFFFF;
	text-align: center;
	background-repeat: repeat-x;
	background-position: top;
}
.ttable_col1 {
	font-family: 'Verdana';
	border:1px solid #666;
	background: #F7F7F7;
}
.ttable_col2 {
	font-family: 'Verdana';
	border:1px solid #666;
	background: #ECECEC;
}
.ttable_colx {
	font-family: 'Verdana';
	border:1px solid #666;
	background: #ECECEC;
}
/* Define Other Tables */
.table_table {
	border: #666;
	border-width: 1px;
	border-collapse:collapse;
}
.table_head {
	font-family: Verdana;
	border:1px solid #666;
	color: #FFFFFF;
	background-repeat: repeat-x;
	background-position: top;
}
.table_col1 {
	font-family: 'Verdana';
	border:1px solid #666;
	background: #F7F7F7;
}
.table_col2 {
	font-family: 'Verdana';
	border:1px solid #666;
	background: #ECECEC;
}
/* Torrents-details download box*/

/* Torrents-details download box*/
#downloadbox {
	padding: 0.75em;
	border: 1px solid #666;
	background: rgb(247,247,247);
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(236,236,236,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(236,236,236,1)));
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(236,236,236,1) 100%);
	background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(236,236,236,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(236,236,236,1) 100%);
	background: linear-gradient(top, rgba(247,247,247,1) 0%,rgba(236,236,236,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ececec',GradientType=0 );
}
.download {
	border: 2px solid #888;
	padding: 10px;
}
.download legend {
	font-size: 12px;
	color: #444;
	margin: 0px;
	padding-top: 3px;
	padding-right: 13px;
	padding-bottom: 3px;
	padding-left: 13px;
	border: 1px solid #444444;
	background: rgb(247,247,247);
	background: -moz-linear-gradient(top, rgba(247,247,247,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(247,247,247,1)), color-stop(100%,rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%);
	background: linear-gradient(top, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#e2e2e2',GradientType=0 );
	-moz-box-shadow: 0px 0px 4px #333;
	-webkit-box-shadow: 0px 0px 4px #333;
	box-shadow: 0px 0px 4px #333;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*DEFINE THE SHOUTBOX CSS */
.shoutbox_body {
	font-family: verdana;
	color: black;
	background-color: White;
}
.shoutbox_contain {
	border: 0px;
	height: 150px;
	width: 100%;
	overflow: auto;
}
.shoutbox_history {
	border: 0px;
	height: 100%;
	width: 100%;
}
.shoutbox_messageboxback {
	background-color: #FFF;
}
.shoutbox_noalt {
	background-color: #F9F9F9;
}
.shoutbox_alt {
	background-color: #DCDCDC;
}
.shoutbox_msgbox {
	width: 100%;
	font-size: 110%;
	background-color: #DDD;
	border: 1px solid black;
}
.shoutbox_shoutbtn {
	font-size: 110%;
	border: 1px solid black;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #FFF;
	background-image: url(images/input.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
.shoutbox_shoutbtn:hover {
	background-position: bottom;
	color: #000;
}
.shoutbox_error {
	color: red;
	font-size: 120%;
}
/* Blocks Management */
.btn, .btnDisable {
	height: 20px;
	color: #000;
	font-size : 110%;
	font-weight : bold;
	line-height: 20px;
	background-image: url(images/input.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	padding-right: 8px;
	padding-left: 8px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #555;
	border-right-color: #555;
	border-bottom-color: #555;
	border-left-color: #555;
}
.btn:hover, .btnDisable:hover {
	background-position: top;
	color: #FFF;
}
.error {
	color: #FF0000;
}
.next-prev {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	line-height: 13px;
	color: #333;
}
.f-border {
	border: 1px solid #555;
	border-collapse: collapse;
}
.f-header {
	background-repeat: repeat-x;
	background-position: top;
	border: 1px solid #555;
}
.f-header a {
	font-weight: bold;
	text-shadow: 0px 1px 2px #000;
	text-decoration: none;
}
.f-header a:hover {
	text-shadow: 0px 1px 1px #000;
}
.f-logo {
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	display: table;
	margin: 0px;
	padding: 0px;
}
.f-logo  td {
	height: 31px;
	padding: 6px;
}
.f-logo  td  a  {
	font-weight: bold;
	text-shadow: 0px 1px 2px #000;
	text-decoration: none;
}
.f-logo  td  a:hover  {
	text-shadow: 0px 1px 1px #000;
}
.f-logo td img {
	vertical-align: middle;
}
.f-location {
	background-repeat: repeat-x;
	background-position: top;
	display: block;
	height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0px 1px 2px #000;
	border: 1px solid #555;
	line-height: 28px;
	text-align: left;
	text-indent: 10px;
}
.f-location a {
	text-shadow: none;
}
.f-title {
	color: #FFFFFF;
	padding: 3px;
	font-size: 10px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	height: 26px;
	text-shadow: 0px 1px 1px #000;
}
.p-title {
	padding: 3px;
	font-size: 10px;
	font-weight: normal;
	background-repeat: repeat-x;
	background-position: top;
	height: 26px;
	text-shadow: 0px 1px 1px #000;
}
.p-title a {
	text-shadow: none;
}
.p-foot {
	color: #333;
	background-color: #CCCCCC;
	font-size: 10px;
	font-weight: normal;
	border-collapse: collapse;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #555;
	border-bottom-color: #555;
	border-left-color: #555;
	border-top-style: none;
}
	
.f-reply {
	color: #333;
	background-color: #ddd;
	padding: 3px;
	font-size: 10px;
	font-weight: normal;
	border: 1px solid #555;
}
.f-cat {
	font-size: 15px;
	margin: 0px;
	background-repeat: repeat-x;
	background-position: top;
	font-weight: bold;
	text-shadow: 0px 1px 1px #000;
	color: #FFFFFF;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.f-reply input[type=button], .f-reply input[type=submit] {
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0px 1px 1px #000;
	background-repeat: repeat-x;
	background-position: center -3px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #bbb;
	border-right-color: #aaa;
	border-bottom-color: #555;
	border-left-color: #aaa;
	cursor: pointer;
	font-weight: bold;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
}
.f-reply input[type=button]:hover, .f-reply input[type=submit]:hover {
}
.f-reply textarea ,.f-reply input[type=text]{
	background-color: #eee;
	border: 1px solid #555;
}
.a-form{
	background-color: #eaeaea;
}
.small {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.comment-details, .bb-btn {
	background-color: #dfdfdf;
}
.comment, .bb-comment {
	background-color: #EEE;
}
.f-title {
	border: 1px solid #555;
}
.alt1 {
	background-color: #c1c1c1;
	background-image: url(images/alt1a.gif);
	background-repeat: repeat-x;
	background-position: top;
	padding: 3px;
}
.alt1:hover {
	background-color: #a3a3a3;
	background-image: url(images/alt1b.gif);
}
.alt2 {
	background-image: url(images/alt2a.gif);
	background-repeat: repeat-x;
	background-position: top;
	background-color: #9b9b9b;
	padding: 3px;
}
.alt2:hover {
	background-color: #838383;
	background-image: url(images/alt2b.gif);
}